@model List<Note>
<table>
    <tr>
        <td><a asp-controller="Note" asp-action="Index" asp-route-FieldName="Status" asp-route-sort="true">Виконано</a></td>
        <td><a asp-controller="Note" asp-action="Index" asp-route-FieldName="Name" asp-route-sort="true">Задача</a></td>
        <td><a asp-controller="Note" asp-action="Index" asp-route-FieldName="CategoryId" asp-route-sort="true">Категорія</a></td>
        <td><a asp-controller="Note" asp-action="Index" asp-route-FieldName="FinalDate" asp-route-sort="true">Дата</a></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @if (item.Status)
            { 
                <td style="color: green">&check;</td>
            }
            else
            {
                <td style="color: red">&cross;</td>
            }

        <td>@item.Name</td>
        <td>@item.CategoryId</td>
        <td>@item.FinalDate</td>
        <td>
                <a asp-controller="Note" asp-action="Completed" asp-route-Status="@item.Status" asp-route-Id="@item.Id">Виконано</a>
        </td>
        </tr>
    }
</table>
