@model List<toDoList.Models.Note>

<table>
    <tr>
        <td><a asp-controller="Note" asp-action="Index" asp-route-sort="true" asp-route-FieldName="Status">Виконано</a></td>
        <td><a asp-controller="Note" asp-action="Index" asp-route-sort="true" asp-route-FieldName="Name">Задача</a></td>
        <td><a asp-controller="Note" asp-action="Index" asp-route-sort="true" asp-route-FieldName="CategoryId">Категорія</a></td>
        <td><a asp-controller="Note" asp-action="Index" asp-route-sort="true" asp-route-FieldName="FinalDate">Дата</a></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @if (item.Status)
            { 
                <td style="color: green">&check;</td>
            }
            else
            {
                <td style="color: red">&cross;</td>
            }

        <td>@item.Name</td>
        <td>@item.CategoryId</td>
        <td>@item.FinalDate</td>
        <td>
             <a asp-controller="Note" asp-action="Completed" asp-route-Status="@item.Status" asp-route-Id="@item.Id">Виконано</a>
        </td>
        </tr>
    }
</table>
